
*.lci
manifest.xml
module.2.lcm
._Untitled 1.livecode
._README.md
._HIDAPI.lcb
manifest.xml
module.2.lcm
TOOLS & INFO/._hidapi.zip
TOOLS & INFO/._hidapitester
TOOLS & INFO/hidapi/0.10.0/include/hidapi/._hidapi.h
TOOLS & INFO/._hidapitester
TOOLS & INFO/hidapitester-0.2/._hidapitester.c
TOOLS & INFO/._hidapitester
module.2.lcm
TOOLS & INFO/hidapi/0.10.0/bin/._hidtest
TOOLS & INFO/hidapitester-0.2/hid_generic_trinketm0/._descriptors.h
module.2.lcm
community.livecode.paulmcclernan.hidapi.lci
module.2.lcm
community.livecode.paulmcclernan.hidapi.lci
._HIDAPI Tester.livecode
api.lcdoc
TOOLS & INFO/._[usb_ddrpad] Port uinput_ddrpad to hidapi+muhid, results in OS X support · Orochimarufan-HIDRAW@764a….webloc
TOOLS & INFO/._Accessing a HID Device.webloc
TOOLS & INFO/._Archive of Interesting Code.webloc
TOOLS & INFO/._c++ - UNICODE_STRING to wchar_t* null terminated - Stack Overflow.webloc
TOOLS & INFO/._cocoa - How to detect a gamepad button press on OSX 10.5 and higher? - Stack Overflow.webloc
TOOLS & INFO/._Found two I think-public for.textClipping
TOOLS & INFO/._HID Page.webloc
TOOLS & INFO/._HID Support | Input System | 1.0.2.webloc
TOOLS & INFO/._hut1_12v2.pdf
TOOLS & INFO/._IOKit:hid:IOHIDLib.h>.textClipping
TOOLS & INFO/._Learn X in Y Minutes- Scenic Programming Language Tours.webloc
TOOLS & INFO/._mac-hid-dump
TOOLS & INFO/._macos - Gamepad and joystick support on Mac OS X in user space - Stack Overflow.webloc
TOOLS & INFO/._Netpbm - Wikipedia.webloc
TOOLS & INFO/._Orochimarufan-HIDRAW- A couple of utilities for working with Linux hidraw devices.webloc
TOOLS & INFO/._Tutorial about USB HID Report Descriptors | Eleccelerator 2.webloc
TOOLS & INFO/._Tutorial about USB HID Report Descriptors | Eleccelerator.webloc
TOOLS & INFO/._USB Descriptor and Request Parser.webloc
TOOLS & INFO/._USB in a NutShell - Chapter 5 - USB Descriptors 2.webloc
TOOLS & INFO/._USB in a NutShell - Chapter 5 - USB Descriptors.webloc
TOOLS & INFO/._[usb_ddrpad] Port uinput_ddrpad to hidapi+muhid, results in OS X support · Orochimarufan-HIDRAW@764a….webloc
TOOLS & INFO/._Using C and the HIDAPI library  with ADU USB Data Acquisition Products (Linux & OS X).webloc
*.lce
TOOLS & INFO/._HID_Calibrator Source.zip
TOOLS & INFO/HID_Calibrator.app/Contents/Info.plist
TOOLS & INFO/HID_Calibrator.app/Contents/MacOS/HID_Calibrator
TOOLS & INFO/HID_Calibrator.app/Contents/PkgInfo
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/Application.icns
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/en.lproj/._HID_cookie_strings.plist
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/en.lproj/._HID_device_usage_strings.plist
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/en.lproj/._HID_usage_strings.plist
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/en.lproj/Credits.rtf
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/en.lproj/HID_cookie_strings.plist
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/en.lproj/HID_device_usage_strings.plist
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/en.lproj/HID_usage_strings.plist
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/en.lproj/InfoPlist.strings
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/en.lproj/IOHIDDeviceWindow.nib
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/en.lproj/IOHIDElementCollectionView.nib
TOOLS & INFO/HID_Calibrator.app/Contents/Resources/en.lproj/MainMenu.nib
TOOLS & INFO/mac-hid-dump-main/._mac-hid-dump.c
support/._defaultscript.livecodescript
TOOLS & INFO/._IOHIDDeviceScheduleWithRunLoop | Apple Developer Documentation.webloc
code/._x86_64-linux
code/x86_64-linux/._.DS_Store
code/x86_64-linux/._libhidapi.so
code/x86_64-linux/.DS_Store
._Wiimote.psd
._Wiimote.png
._Wii_Remote_&_Nunchuk.jpg
._usb.ids
._temp2.png
._PlayStationStyleGamePad.psd
._HIDAPI Tester2.livecode
._XY_KNOB.livecode
._api.lcdoc
._hidapi.h
HID Controller Images/._Mouse.png
HID Controller Images/._Mouse.psd
